.card {
    border: none !important;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}


.empty h2 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 30px;
}

.empty a {
    color: var(--color-primary);

}
.empty a:hover {
    color: var(--color-accent);
    text-decoration: underline;

}

.card h2 {
    color: var(--color-blue);
}

.card h3 {
    color: var(--color-blue);
    font-size: 22px;
    font-weight: 700;
    margin-top: 30px;
}


.text-muted {
    color: var(--color-steel-blue);
    font-size: 14px;
}