.Msg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-weight: 500;
}

.Msg button {
    border: 2px solid var(--color-accent) !important;
    color: var(--color-accent);
}