/* Breadcrumb.module.css */

.breadcrumb {
    padding: 15px;
    border-radius: 5px;
    align-items: center;
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-family: "Nunito", sans-serif;
    color: var(--color-slate-blue);
    font-weight: 600;
}

.breadcrumb-item {
    display: inline-block;
    margin-right: 5px;
}

.breadcrumb-item::first-letter {
    text-transform: capitalize;

}

.breadcrumb-item a {
    color: var(--color-slate-blue);
    transition: 0.3s;

}

.breadcrumb-item.active {
    color: var(--color-steel-blue) !important;
    font-weight: 600;
}

.breadcrumb-item.active::before {
    content: '>';
    margin-right: 5px;
    color: var(--color-slate-blue);
}


.breadcrumb a:hover {
    color: #51678f;
}



